@media (min-width: 992px) {
  body {
    padding-top: 112px;
  }
}

a {
  color: black;
}

a:hover {
  color: lightgrey;
  text-decoration: none;
}

.row {
  padding-top:48px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

#projects-portfolio {
  padding-top: 0px;
  margin-top: 15px;
}

.description {
  font-family: chivo;
  font-size: 25px;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}

/* @media display none col-3 */
.fixed-top {
  position: unset;
}

.portfolio-item {
  margin-bottom: 30px;
}

.card:hover .portfolio-img {
  opacity: 0;
}

.card:hover .portfolio-middle {
  opacity: 1;
}

.portfolio-img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.portfolio-middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.portfolio-title {
  margin-left: 0;
  font-family: chivo;
  font-size: 24px;
  color: black;
  font-weight: bold;
}

.portfolio-subtitle {
  margin-left: 0;
  font-family: chivo;
  font-size: 16px;
  color: gray;
}

.name {
  margin-left: 0;
  font-family: futura;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.surname {
  font-family: futura;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 5px;
  margin-bottom: 0;
}
.nav-item {
  font-family: chivo;
  text-transform: uppercase;
  color: lightgrey;
  font-size: 12px;
  margin-bottom: 0;
}

.nav-item.active {
  color: black;
}

.nav-item :hover {
  color: black;
}

.col-contact {
  font-family: chivo;
  font-weight: regular;
  font-weight: bold;
  font-size: 24px;
}
.contact {
  font-family: chivo;
  font-weight: regular;
  font-size: 16px;
  list-style: none;
}

.footer-contact-title {
  float:right;
}

.footer-link-list {
  padding-left: 15px;
  padding-top: 5px;
}

#logo {
  margin-left: -22px;
  margin-top:5px;
  color:black;
}

.projects-cover {
  width: 100%;
}
.embed-responsive-item {
  padding-top: 72px;
}
